<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355514083237-efk2uri3ukplbeq1dk1resoupkti49l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355514083237-efk2uri3ukplbeq1dk1resoupkti49l6</string>
	<key>API_KEY</key>
	<string>AIzaSyDkcL59QkkeldFrGOaDeH1lk_bo-RHqV44</string>
	<key>GCM_SENDER_ID</key>
	<string>355514083237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanbasoglu.CryponBlog</string>
	<key>PROJECT_ID</key>
	<string>cryponblog</string>
	<key>STORAGE_BUCKET</key>
	<string>cryponblog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355514083237:ios:b9862928522bec9f64ea4c</string>
</dict>
</plist>